@import "reset.css";

body{
  font-family : 'nbg', '???? ????', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
  font-size : 1em;
  line-height: 1;
  min-width: 320px;
  overflow-x: hidden;
}



a{
  /* text-decoration ????? none???? ??????? ???????????? ???? ???? */
  text-decoration: none;
  
}

.topNav1{
  width: 76px;
}

.topNav2{
  width: 107px;
  margin-left: 1px;

}

.topNav3{
  width: 181px;
  margin-left: 1px;
}

.topNav4{
  width : 97px;
  margin-left: 1px;
}

.topNavA{
  color : #333333;
}


p.searchButtonClicked{
  width : 182px;

}

input.searchButtonClicked{
  width : 143px;
}

nav.searchButtonClicked{
  right : 232px;
}

.bottomNav1{
  width : 89px;

}

.bottomNav2{
  width : 73px;
}

.bottomNav3{
  width : 79px;
}

.bottomNav4{
  width : 153px;
  
}

.bottomNav5{
  width : 225px;

}

.bottomNav6{
  width : 131px;
}

.bottomNavA{
  height: 56px;
  width : 100%;
  display: block;
  padding-top: 10px;
  color : #333333;
}

.bottomNavA:hover{
  text-decoration : underline;
  text-decoration-color : #669900;
  background : #2C2A29;
  color : #669900;
}